// Primary Colors
$color-white: #ffffff;
$color-black: #000000;
$color-purple: #7C00FF;
$color-orange: #FF6128;
$color-green: #009C7E;
$color-light-green: #effffc;

// Secondary Colors
$color-blue: #1976d2;
$color-lighten-blue: #bad6f2;
$color-light-blue: #3c81da;
$color-dark-blue: #4b82b9;
$color-perl-blue: #27a3b5;
$color-darker-blue: #035295;
$color-darkest-blue: #224087;
$color-dark: #424242;
$color-red: #e14242;
$color-light-pink: #fdeded;
$color-yellow: #e8c356;
$color-aqua-blue: #27a3b5;
$color-grey: #d8d8d8;
$color-light-grey: #eceff1;
$color-lighten-grey: #f6f6f6;
$color-medium-grey: #bdc3cd;
$color-medium-dark-grey: #90a4ae;
$color-medium-darker-grey: #455a64;
$color-dark-grey: #6a7383;
$color-darker-grey: #4c4c4a;
$color-darken-grey: #3f4e4d;
$color-brown: #796c64;
